@model WebApplication.Models.UserViewModel

<div class="form-group">
    @{
        var label = ViewData["Mode"]!= null && ViewData["Mode"].Equals("Edit")
                    ? "New Password"
                    : "Password";

    }

    @Html.Label(label, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.PasswordFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
    </div>
</div>

