
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CloseSession</title>
</head>
<body>
    <div> 
        <p> Session was closed</p>
    </div>
</body>
</html>
