
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Message Form</title>
</head>
<body>
    <div>
        @if (ViewBag.Message != null)
        {
        <span>@ViewBag.Message</span>
        }

    </div>
</body>
</html>
